<mat-toolbar>
     <h1>Marvel</h1>
   <span class="spacer"></span>
   <div class="content__btn">
       <button mat-raised-button>
           Install App<mat-icon>download</mat-icon>
       </button>
   </div>
   <div style="display: flex;">
    <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="home">Home</a>
    <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="comics">Comics</a>
    <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="Series">Series</a>
   </div>
 </mat-toolbar>