<div class="container">
    <div class="row">
        <div class="col-12">
            <a  mat-raised-button routerLink="/comics">Volver</a>
        </div>
    </div>
    <div class="row content">
        <mat-card class="">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <img src="{{comic?.data.results[0].thumbnail.path}}.{{comic?.data.results[0].thumbnail.extension}}" alt="">
                </div>
                <mat-card-title>{{comic?.data?.results[0]?.title}}</mat-card-title>
                <mat-card-subtitle>
                    {{comic?.data?.results[0]?.format}} 
                    <a href="{{comic?.data?.results[0]?.series.resourceURI}}">{{comic?.data?.results[0]?.series.name}}</a> 
                </mat-card-subtitle>
            </mat-card-header>
            <img src="{{comic?.data.results[0].thumbnail.path}}.{{comic?.data.results[0].thumbnail.extension}}" alt="">
            <mat-card-content>
                <p [innerHTML]="comic?.data?.results[0]?.description">
                </p>
                <p>
                    ${{comic?.data?.results[0]?.prices[0].price}}
                    {{comic?.data?.results[0]?.prices[0].type}}
                </p>
                <div>
                    <h3>Creators</h3>
                    <p> {{comic?.data?.results[0]?.creators.items[0].name}} - {{comic?.data?.results[0]?.creators.items[0].role}} </p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<ngx-spinner color=" #4447E2" type = "ball-scale-ripple-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
