<div class="container">
    <div class="row">
        <div class="col-12">
            <a  mat-raised-button routerLink="/comics">Volver</a>
        </div>
    </div>
    <div class="row content">
        <mat-card class="" *ngFor="let comics of comic" >
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <img src="{{comics.thumbnail.path}}.{{comics.thumbnail.extension}}" alt="{{comics.title}}">
                </div>
                <mat-card-title>{{comics.title}}</mat-card-title>
                <mat-card-subtitle>
                    {{comics.format}}
                </mat-card-subtitle>
            </mat-card-header>
            <div class="container__img">
                <img src="{{comics.thumbnail.path}}.{{comics.thumbnail.extension}}" alt="{{comics.title}}">
            </div>
            <mat-card-content>
                <p [innerHTML]="comics.description"></p>
                <h4>Prices</h4>
                <p *ngFor="let price of comics.prices">
                    $ {{price.price}} - {{price.type}} 
                </p>
                <mat-card>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <h3>Creators</h3>
                            <ul>
                                <li *ngFor="let creator of comics.creators.items">
                                    {{creator.name}} - {{creator.role}} 
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-6">
                            <h3>Character</h3>
                            <ul>
                                <li *ngFor="let character of comics.characters.items">
                                    {{character.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-6">
                            <h3>Stories</h3>
                            <ul>
                                <li *ngFor="let stories of comics.stories.items">
                                    {{stories.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-6">
                            <h3>CollectedIssues</h3>
                            <ul>
                                <li *ngFor="let collectedIssues of comics.collectedIssues" >
                                     {{collectedIssues.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<ngx-spinner color=" #4447E2" type = "ball-scale-ripple-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
