a {
    margin: 30px;
}
.row {
    justify-content: center!important;
};   
mat-card {
    color: white;
    margin: 10px;
    background-color: #1C1C24;
        img {
            width: 300px;
            height: 300px;
        };
        mat-card-subtitle {
            color: white;
        } 
};

.example-header-image img{
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }