<div class="container">
    <div class="row content">
        <mat-card *ngFor="let series of serie" class="col-lg-3">
            <mat-card-header>
                <mat-card-title>{{series.title| slice:0:20}}...</mat-card-title>
            </mat-card-header>
            <img src="{{series.thumbnail.path}}.{{series.thumbnail.extension}}" alt="">
            <mat-card-content>
                <p>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="getSerieId(series.id)" class="btn" data-bs-toggle="modal" data-bs-target="#Modal">Detail</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="row">
        <div class="col-12">
            <button mat-raised-button (click)="aumentar()" class="btn">See more</button>
        </div>
    </div>
</div>
<ngx-spinner color=" #4447E2" type = "ball-scale-ripple-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" *ngFor="let datail of data ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{datail.title}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3>Creators</h3>
          <ul>
            <li *ngFor="let creator of datail.creators.items">
              {{creator.name}} - {{creator.role}} 
            </li>
          </ul>
          <h3>stories</h3>
          <ul>
            <li *ngFor="let stories of datail.stories.items">
                {{stories.name}}
            </li>
        </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" mat-raised-button data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
